.textCenter{
  text-align: center;
  font-size: 4vh;
  background-color: #F4F4F4;
  font-family: 'Ariel';
  color: #373737;
  margin-top: 0px;

}

.noDots{
  list-style: none;
}

.headerColor{
  color: #373737;
}

.topicStyle{
  font-size: 2vh;
  font-family: 'Ariel';
  font-style: bold;
  text-decoration: none;
}

.blogTitleList a{
  text-decoration: none;
  color: #373737;

}
