const textCenter = {
  textAlign: 'center',
  fontSize: '4vh',
  backgroundColor: '#F4F4F4',
  fontFamily: 'Ariel',
  fontColor: '#373737',
  marginTop: '0px'

}

var noDots= {
  listStyle: 'none'
}

const headerColor = {
  fontColor: '#373737'

}

const topicStyle = {
  fontSize: '2vh',
  fontFamily: 'Ariel',
  fontStyle: 'bold'
}
