var postTextStyle = {
  fontSize: '2vh',
  paddingTop: '2%',
  paddingLeft: '5%',
  paddingRight: '5%',
  paddingBottom: '2%',
  border: '6px solid #eee',
  marginRight: '32%',
  marginBottom: '2%',
  marginLeft: '32%',
  backgroundColor: '#DCD0C0',
  fontFamily: 'Ariel',
  borderRadius: '5%',
  textAlign: 'center'

}
var textCenter = {
  color: '#373737'
}

const buttonStyle ={

  border: 'none',
  padding: '0.5vh',
  margin: '2vh',
  textAlign: 'center',
  textDecoration: 'none',
  display: 'inline-block',
  fontSize: '2vh',
  fontColor: '#373737'
}
