.resumeContainer{
  text-align: center;
  text-align: center;
  font-size: 2vh;
  margin-right: 24%;
  margin-bottom: 2%;
  margin-left: 24%;
  background-color: #DCD0C0;
  font-family: 'Ariel';
  border-radius: 3%;
}

.titleStyle{
  padding-bottom: 3vh;
}

.nameStyle{
  padding-top: 5vh;

}

.contentContainer{
  display: flex;
}

.column{
flex: 50%;
padding: 2.5vh;
width: 40vh;
height: auto;
border-right: solid #F4F4F4;
}

.column2{
flex: 50%;
padding: 2.5vh;
width: 40vh;
height: auto;
}
.removeListDots{
  list-style-type: none;
}

.listFont{
  font-size: 2vh;
  font-family: 'Ariel';
}
.linkStyle{
  color: #F4F4F4;
}
.italic{
  font-style: italic;

}

.linePadding{
  padding-top: 3vh;
}


@media (max-width: 1050px) {

  .resumeContainer{
    margin: 0%;
    border-radius: 0%;
    padding: 0%;
  }

  .contentContainer{
    display: block;
  }
  .column{
  flex: 100%;
  margin: 0%;
  padding: 0%;
  border-right: none;
  width: 100%;
  }

  .column2{
  flex: 100%;
  margin: 0%;
  width: 100%;
  padding: 0%;
  }
  .sectionHeader{
    text-decoration: underline;
  }



}
